{% extends "layout.twig" %}

{% block title %}
    <h2>{{ title }}</h2>
{% endblock %}

{% block content %}
    <article>        
        <h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent scelerisque posuere auctor. Nullam facilisis pellentesque neque sed sodales. Nunc ornare neque arcu, ut hendrerit libero volutpat hendrerit. Proin id porta eros. Duis ut fringilla felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. In lobortis dapibus metus, vel viverra leo tristique finibus. Nunc turpis neque, mollis sed felis a, dictum convallis quam.</h3>
        <p>
            <img src="/images/koala.jpg" alt="Koala fou !" class="img-responsive"> Aenean vestibulum, neque quis sollicitudin ornare, odio urna ultrices massa, id sagittis urna ipsum faucibus diam. Vivamus euismod lorem nisi, in rhoncus sem ornare sit amet. Praesent aliquam consectetur purus sed tempus. Duis egestas dictum ex, at cursus metus rutrum eu.
        </p>
        <p>Morbi a tristique diam. Aliquam hendrerit nibh orci, eu gravida elit mollis sed. Fusce interdum dolor eget ipsum venenatis facilisis.</p>
        <p>Phasellus et tincidunt turpis. Suspendisse potenti. Proin sapien purus, egestas nec dictum quis, semper in tellus. Sed aliquam eu nisl nec condimentum. Nunc placerat imperdiet nisi, et aliquam enim rhoncus elementum. Proin rhoncus id leo sit amet porttitor. Suspendisse enim nulla, rhoncus ullamcorper erat at, euismod consectetur dui.</p>
    </article>
{% endblock %}